<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title TodoList
body
	.todolist
			.todolist__body
				.todolist__header
					.todolist__title TodoList
					.todolist__subtitle  Lorem ipsum dolor sit amet
					.todolist__form
						input(type="text" placeholder="Введите вашу задачу!").todolist__input
						button.todolist__btn append
				.todolist__body
					ul.todolist__list

	link(rel="stylesheet", href="style/style.css")
	script(src="js/main.js")

